html, body {
	margin:0px;
	padding:0px;
	font-family: Roboto, sans-serif;
	height:100vh;
}

body {
	padding-top:100px;
	padding-bottom:60px;
	box-sizing: border-box;
	overflow: hidden;
}

.toolbar {
	z-index:1000000;
	width:100%;
	position:fixed;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);

}

header {
	top:0px;
	height:100px;
	background-color:white;
	padding-left: 16px;
    padding-top: 5px;
	color:black
}

header h1 {
	font-weight: 100;
	padding-right:50px;
	float:left;
}

header h2 {
	font-weight: 300;
	float:left;
	padding-top:0px;
	margin-top:30px;
	text-align:center;
	font-size:20px;
	color:#9e9e9e;
}
header h2.open {
	color:black;
}

header h2 span {
	border-radius: 100%;
	background-color:#9e9e9e;
	color:white;
	width:30px; height:30px;
	display: block;
	box-sizing: border-box;
	float:left;
	font-size:20px;
	margin-right:10px;
}
header h2.open span {
	background-color:#673AB7
}

header .horizLine {
	width:50px;
	height:1px;
	margin-top:45px;
	background: #9e9e9e;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}

.step {
	position: absolute;
	top:100px;
	left:100%;
	width:100%;
	height:100%;
	background-color:#eeeeee;
	transition: left .5s ease-out;
}
.step.open {
	opacity: 1;
	left:0px !important;
}

.layouts {
	width:100%;
	max-width:900px;
	margin-left:auto;
	margin-right:auto;
	
}

.layout {
/*	width:calc(50% - 100px);*/
	width:400px;
	margin:25px;
	height:300px;
	background-color:white;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
	float:left;
	transition: box-shadow .3s;
	cursor: pointer;
	box-sizing:border-box;
}
.layout:hover {
	box-shadow: 0 2px 20px 0 rgba(0,0,0,.16), 0 2px 20px 0 rgba(0,0,0,.23);
}
.layout.selected {
	background-color:#D1C4E9;
}

nav {
	bottom:0px;
	height:60px;
	background-color:#673AB7;
	font-size: 20px;
	font-weight: 300;
}
nav > div {
	padding:10px;
	box-sizing: border-box;
	width:50%;
	float:left;
	color:white;
	height:100%;
	font-size:30px;
	text-align:center;
	cursor: pointer;
	transition: background-color .3s;
}

nav > div:hover {
	background-color:rgba(255, 255, 255, .2);
}